header {
	width:860px;
	height: 160px;
	background-color: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

header #head {
	width: 860px;
	height: 160px;
	/*background-image: url("../img/igualdad2.jpg");
	background-repeat: no-repeat;
	background-position: 95% 90%;*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

header #titulo {
	width: 460px;/*860*/
	position: relative;
	top: 10px;
	left: 10px;
	/*top: -150px;
	left: 10px;*/
}

header #titulo a h1 {
	/*margin:auto auto;*/
    
	font-size: 26px;
	text-shadow: -2px 1px #556E6C;
	color: #E6D023;
}

header #titulo a {
    margin-top:10px;
	text-decoration: none;
}

/*De la lista los dejamos sin margen ni padding , y les sacamos los puntos de la lista*/
nav{
    margin-top:75px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}
/*se muestra en forma horizontal*/
nav ul li {
    float: left;
    margin-left: 10px;
}
/*objeto boton de navbar , propiedades*/
nav ul li a {
    display: block; /*Se muestre en forma de bloque*/
    color: black;  /*Color del texto*/
    text-align: center; /*Alineacion del texto*/
    padding: 14px 16px; /*Espacio entre el contenido y el boton*/
    text-decoration: none; /*Desactivar linea de link*/
    background-color: #E2CC23;
    border-radius: 16px;
    font-weight: 600;
}

nav ul li a:hover {
    background-color: #111; /*Color al pasar el cursor sobre el boton*/
}
/*Pestaña activa , que color elegir.*/
.active {
    background-color: #4CAF50;
}

/*Boton desplegable*/
nav ul li a, .dropbtn {
    display: inline-block;/*Se desplega en bloques verticales*/
    /*color: white;/*Colores del texto*/
    text-align: center;/*Alineacion del texto*/
    padding: 14px 16px;/*Tamaño del contenido del boton*/
    text-decoration: none;/*Se quita el punto de la lista*/
    background-color: #E2CC23;
    border-radius: 16px;
    font-weight: 600;
}
/*cuando se pasa el raton sobre el boton*/
nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: white;/*Color de fondo designado */
}
/*Lista forma en que se desplega*/
nav ul li.dropdown {
    display: inline-block;/*se desplega en bloques verticales*/
}

/*Contenido del menu desplegable*/
.dropdown-content {
    display: none;/*???*/
    position: absolute;/*Position absolute ??? */
    /*background-color: #f9f9f9;*//*Color de fondo*/
    min-width: 160px;/*ancho minimo*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);/*sombra de la caja*/
}
/*Modificaciones a la etiqueta a*/
.dropdown-content a {
    color: black;/*Color de texto*/
    padding: 12px 16px;/*Tamaño del contenido*/
    text-decoration: none;/*Se elimina el punto*/  
    display: block;/*se despliega en forma de bloque*/
    text-align: left;/*el texto se alinea a la izquierda*/
}
/*Color al pasar el puntero sobre el boton del menu desplegable*/
.dropdown-content a:hover {background-color: #f1f1f1}/*color de fondo*/
/*forma de despliegue del menu desplegable*/
.dropdown:hover .dropdown-content {
    display: block;/**/
}

/* Ejemplo de navbar HTML5

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>
*/

