{% extends "base.html" %}

{% load static from staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %} ">
    
{% endblock styles %}

{% block title %}
    Alta de Accion
{% endblock title %}

{% block content %}
    <h2>Alta de Accion</h2>
    <form method="POST">
        {% csrf_token %}
        <ul>
            
            {% for field in form %}
            <li>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </li>
            {% endfor %}   
            <li><input type="hidden" name='usuario_id' value='{{ user.id }}'></li> 
        
        
        <li><a class='btnvolver' href="{% url 'home' %} ">Volver</a><input type="submit" value="Ingresar Accion"></li>
        </ul>
    </form>
{% endblock content %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript">
        $("#id_fecha").datepicker({
            changeMonth: true,
            dateFormat: 'yy/mm/dd'
        });
    </script>
{% endblock scripts %}