{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
    Alta de Dispositivo
{% endblock title %}

{% block content %}
    <h2>Alta de Netbooks</h2>

    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <li>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                </li>
            {% endif %}
            {% endfor %}
        <li><a class='btnvolver' href="{% url 'dispositivos:lista' %}">Volver</a><input type="submit" value="Dar de alta Netbook"></li>
        </ul>
    </form>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var idAdm = {{ adm.id }} ;
        var n_tipo = 5;
        $('#id_adm').val(idAdm);
        $('#id_tipo').val(n_tipo);
    </script>
    
{% endblock scripts %}