<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}
        
    {% endblock title %} </title>

    
    {% load static from staticfiles %}
    
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/icomoon.css" %} ">
    <link href="https://fonts.googleapis.com/css?family=Averia+Libre" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% endblock styles %}
</head>


<body>
    <section id="contenedor">
        <header>
            <div id="head">
                <div id="titulo">
                <span class="logo"><img src="{% static "img/logo.png" %} "></span><a href="{% url 'home' %}"><h1>Bitacora del Capitan</h1></a>
                </div>
                {% include "navbar.html" %}
            </div>
        </header>

         <div id='cuerpo'>
             {% block content %}
                 
             {% endblock content %}
         </div>

         <footer>
            <div id="pie">
                <a id="logout" href="{% url 'users:logout' %}">Cerrar sesión</a>  
            </div>
        </footer>
    </section>


{% block scripts %}
    <script type="text/javascript" src="{% static "js/jquery-3.1.1.js" %}"></script>
{% endblock scripts %}
</body>

</html>