<nav>
    <ul>
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Escuelas</a>
                <div class="dropdown-content">
                    <a href="{% url 'escuelas:alta' %}">Añadir Escuela</a>
                    <a href="{% url 'escuelas:lista' %}">Listar Escuela</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Acciones</a>
                <div class="dropdown-content">
                    <a href="{% url 'acciones:alta' %}">Añadir Accion</a>
                    <a href="{% url 'acciones:lista' %}">Mis Acciones</a>
                </div>
            </li>
            
            <li><a href="{% url 'dispositivos:lista' %}">Dispositivos</a></li>
        {% endif %}
    </ul>
</nav>