{% extends "base.html" %}

{% block title %}
    Lista de Colegios
{% endblock title %}

{% block content %}
    <h2>Listado de colegios</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cue</th>
                <th>Directivo</th>
                <th>Tel. Directivo</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for escuela in escuelas %}
            <tr>
                <td>{{ escuela.nombre }}</td>
                <td>{{ escuela.cue }}</td>
                <td>{{ escuela.directivo }}</td>
                <td>{{ escuela.tel_directivo }}</td>
                <td>{{ escuela.domicilio }}</td>
                <td>{{ escuela.telefono }}</td>
                <td style="text-align: center"><a class='actualizarbtn' href="{% url 'escuelas:modificar' escuela.id %} ">Editar</a></td>
            </tr> 
            {% endfor %}
        </tbody>
        
    </table>
{% endblock content %}