{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
    Alta de Dispositivo
{% endblock title %}

{% block content %}
    <h2>Alta de Netbooks</h2>

    <form method="POST">
        {% csrf_token %}

        <ul>
            <li>{{ form.errors.label }}</li>
            {% for field in form %}
            {% if field.is_hidden %}
                <li><input id="id_adm" type="hidden" name="adm"></li>
            {% else %}
                <li>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                </li>
            {% endif %}
            {% endfor %}
        <li><a class='btnvolver' href="{% url 'dispositivos:lista' %}">Volver</a><input type="submit" value="Dar de alta Dispositivos"></li>
        </ul>
    </form>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        var idAdm = {{ adm.id }};
        $('#id_adm').val(idAdm);
    </script>
    
{% endblock scripts %}