{% if adm %}

    <div id="data">
        <div class="container">
            <div class="panel">
            {% if servidor %}
                <div class="panel-header">Servidor</div>
                <div class="panel-body">
                    <div class='content'>Marca: {{ servidor.marca }} </div>
                    <div class='content'>Modelo: {{ servidor.modelo }} </div>
                    <div class='content'>N°S: {{ servidor.n_s }} </div>
                    {% if servidor.estado == 1 %}
                        <div class='content'>Estado: Buen Estado</div>
                    {% elif servidor.estado == 2 %}
                        <div class='content'>Estado: En espera de Servicio Tecnico</div>
                    {% else %}
                        <div class='content'>Estado: Roto</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="panel-header">Servidor</div>
                <div class="panel-body">
                    <div class='content'>No se encuentra un servidor registrado</div>
                    <div class="content">¿Desea ingresar un servidor a este ADM?</div>
                    <div class="content"><a class="actualizarbtn" href="{% url 'dispositivos:alta_dispositivo' adm_id.id '1' %}">Añadir Servidor</a></div>
                </div>
            {% endif %}

            </div>
            <div class="panel">
            {% if canon %}
                <div class="panel-header">Cañon</div>
                <div class="panel-body">
                    <div class='content'>Marca: {{ canon.marca }}</div>
                    <div class='content'>Modelo: {{ canon.modelo }}</div>
                    <div class='content'>N°S:{{ canon.n_s }}</div>
                    {% if canon.estado == 1 %}
                        <div class='content'>Estado: Buen Estado</div>
                    {% elif canon.estado == 2 %}
                        <div class='content'>Estado: En espera de Servicio Tecnico</div>
                    {% else %}
                        <div class='content'>Estado: Roto</div>
                    {% endif %}
                    
                </div>
            {% else %}
                <div class="panel-header">Cañon</div>
                <div class="panel-body">
                    <div class='content'>No se encuentra un cañon registrado</div>
                    <div class="content">¿Desea ingresar un Cañon a este ADM?</div>
                    <div class="content"><a class="actualizarbtn" href="{% url 'dispositivos:alta_dispositivo' adm_id.id '2' %}">Añadir Cañon</a></div>
                </div>
                </div>
            {% endif %}

            </div>
        </div>
            <div class="panel">
            {% if impresora %}
                <div class="panel-header">Impresora</div>
                <div class="panel-body">
                    <div class='content'>Marca: {{ impresora.marca }}</div>
                    <div class='content'>Modelo: {{ impresora.modelo }}</div>
                    <div class='content'>N°S: {{ impresora.n_s }}</div>
                    {% if impresora.estado == 1 %}
                        <div class='content'>Estado: Buen Estado</div>
                    {% elif impresora.estado == 2 %}
                        <div class='content'>Estado: En espera de Servicio Tecnico</div>
                    {% else %}
                        <div class='content'>Estado: Roto</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="panel-header">Impresora</div>
                <div class="panel-body">
                    <div class='content'>No se encuentra una impresora registrada</div>
                    <div class="content">¿Desea ingresar un Impresora a este ADM?</div>
                    <div class="content"><a class="actualizarbtn" href="{% url 'dispositivos:alta_dispositivo' adm_id.id '3' %}">Añadir Impresora</a></div>
                </div>
                </div>
            {% endif %}

            </div>
            <div class="panel">
            {% if camara %}
                <div class="panel-header">Camara</div>
                <div class="panel-body">
                    <div class='content'>Marca: {{ camara.marca }} </div>
                    <div class='content'>Modelo:{{ camara.modelo }} </div>
                    <div class='content'>N°S:{{ camara.n_s }}</div>
                    {% if camara.estado == 1 %}
                        <div class='content'>Estado: Buen Estado</div>
                    {% elif camara.estado == 2 %}
                        <div class='content'>Estado: En espera de Servicio Tecnico</div>
                    {% else %}
                        <div class='content'>Estado: Roto</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="panel-header">Camara</div>
                <div class="panel-body">
                    <div class='content'>No se encuentra una camara registrada</div>
                    <div class="content">¿Desea ingresar un Camara a este ADM?</div>
                    <div class="content"><a class="actualizarbtn" href="{% url 'dispositivos:alta_dispositivo' adm_id.id '4' %}">Añadir Camara</a></div>
                </div>
                </div>
            {% endif %}
            </div>
            <div class="panel">
            {% if monitor %}
                <div class="panel-header">Monitor</div>
                <div class="panel-body">
                    <div class='content'>Marca: {{ monitor.marca }} </div>
                    <div class='content'>Modelo:{{ monitor.modelo }} </div>
                    <div class='content'>N°S:{{ monitor.n_s }}</div>
                    {% if monitor.estado == 1 %}
                        <div class='content'>Estado: Buen Estado</div>
                    {% elif monitor.estado == 2 %}
                        <div class='content'>Estado: En espera de Servicio Tecnico</div>
                    {% else %}
                        <div class='content'>Estado: Roto</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="panel-header">Monitor</div>
                <div class="panel-body">
                    <div class='content'>No se encuentra una monitor registrada</div>
                    <div class="content">¿Desea ingresar un monitor a este ADM?</div>
                    <div class="content"><a class="actualizarbtn" href="{% url 'dispositivos:alta_dispositivo' adm_id.id '6' %}">Añadir monitor</a></div>
                </div>
                </div>
            {% endif %}
            </div>
            <div class="panel">
            {% if pizarra %}
                <div class="panel-header">Pizarra</div>
                <div class="panel-body">
                    <div class='content'>Marca: {{ pizarra.marca }} </div>
                    <div class='content'>Modelo:{{ pizarra.modelo }} </div>
                    <div class='content'>N°S:{{ pizarra.n_s }}</div>
                    {% if pizarra.estado == 1 %}
                        <div class='content'>Estado: Buen Estado</div>
                    {% elif pizarra.estado == 2 %}
                        <div class='content'>Estado: En espera de Servicio Tecnico</div>
                    {% else %}
                        <div class='content'>Estado: Roto</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="panel-header">Pizarra</div>
                <div class="panel-body">
                    <div class='content'>No se encuentra una pizarra registrada</div>
                    <div class="content">¿Desea ingresar un pizarra a este ADM?</div>
                    <div class="content"><a class="actualizarbtn" href="{% url 'dispositivos:alta_dispositivo' adm_id.id '7' %}">Añadir Pizarra</a></div>
                </div>
                </div>
            {% endif %}
            </div>

            <a class="actualizarbtn" style='margin: 60px 30px' href="{% url 'dispositivos:alta_netbook' adm_id.id %}">Añadir Netbook</a>

        {% if netbooks %}
            <table class="netbooks">
                <thead class="table-header">
                    <tr>
                        <th class="row-id" style="padding:5px">#</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>N° de serie</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    
                        {% for netbook in netbooks %}
                        <tr>
                        <td class="row-id" style="padding:5px">{{ netbook.n_m }}</td>
                        <td>{{ netbook.modelo }}</td>
                        <td>{{ netbook.marca }}</td>
                        <td>{{ netbook.n_s }}</td>
                        {% if netbook.estado == 1 %}
                            <td>Buen Estado</td>
                        {% elif netbook.estado == 2 %}
                            <td>Espera de servicio tecnico</td>
                        {% else %}
                            <td>Roto</td>
                        {% endif %}
                        <td></td>
                        </tr>    
                        {% endfor %}
                        
                </tbody>
            </table>
            {% else %}
             <table class="netbooks">
                <thead class="table-header">
                    <tr>
                       <th>No se encuentran netbooks registradas para este ADM</th>
                    </tr>
                </thead>
            </table>
        {% endif %}
    </div>    
        
                
{% else %}
    <form>
    <ul>
        <li>
            <p>La escuela seleccionada no tiene un adm registrado , ¿Desea registrarla?</p>
        </li>
        <li>
            <label for='#anio_recepcion'>Elija el año de recepcion</label>
            <select class='select-dispo' id='anio_recepcion'>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
            </select>
        </li>
        <li>
            <button onclick="AltaAdm()" class='actualizarbtn'>Dar de alta ADM</button>
        </li>
    </ul>    
    </form>
    <script type="text/javascript">
    function AltaAdm(){
        var id_escuela = $("#escuela").val();
        var anio_recepcion = $("#anio_recepcion").val();
        $.ajax({

                data : { 'id_escuela' : id_escuela,
                         'anio_recepcion' : anio_recepcion},
                method : 'GET',
                url : '{% url "dispositivos:alta_adm" %}',
                datatype : 'json',
                success: function(data){
                    console.log(data)
                    mostrardatos()
                }
            })

    };
    </script>
{% endif %}

