{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
    Alta de Escuela
{% endblock title %}

{% block content %}
    <h2>Alta de escuela</h2>
    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for field in form %}
            <li>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </li>
            {% endfor %}    
        
        
        <li><input type="submit" value="Dar de alta escuela"></li>
        </ul>
    </form>
{% endblock content %}