{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
    Modificacion datos de Escuela {{ form.name.value }}
{% endblock title %}

{% block content %}
    
    <br><br>
    <h2>Alta de escuela</h2>    
    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for field in form %}
            <li>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </li>
            {% endfor %}    
        
        
        <li><a class='btnvolver' href="{% url 'escuelas:lista' %} ">Volver</a><input type="submit" value="Modificar datos de la escuela"></li>
        </ul>
    </form>
    
{% endblock content %}